:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

ul {
  list-style: none;
  text-decoration: none;
  padding: 10px 5px 0px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 3.5px;
  border-bottom: 0.75px solid grey;
  position: sticky;
  top: 0;
  opacity: 0.8;
  padding-left: 15px;
}

header ul {
  display: flex;
  font-size: 15px;
}
